body {
  font-family: 'Montserrat';
}
#title {
  background-color: #ff4c68;
  color: white;
}
#title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
.container-fluid {
  padding: 3% 15% 10%;
}
.title-image {
  transform: rotate(20deg);
  width: 55%;
  position: absolute;
  right: 25%;
}

.navbar {
  padding: 0 0 4.5rem;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.download-button {
  margin: 3% 5% 3% 0;
}

/* Media Query */
@media (max-width: 1088px){
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#features {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
#features h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
#features i {
  color: #ef8172;
  margin-bottom: 1rem;
}
#features i:hover {
  color: #ff4c68;
}
#features p {
  color: #8f8f8f;
}
.feature-box {
  padding: 5%;
}
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
.carousel-item {
    padding: 3% 15%;
}
#testimonials h2 {
  line-height: 2;
  font-weight: bold;
  font-size: 3rem;
}
#testimonials img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 50px;
}
#press img {
  width: 15%;
  margin: 20px;
}
#pricing {
  padding: 3% 5%;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 10% 5%;
}
#cta h3 {
  color: #fff;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 50px;
}
#cta .btn {
  margin: 2%;
}
#footer {
  background-color: #fff;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
}
#footer i {
  margin: 10px;
}
#footer p {
  padding-top: 10px;
  font-weight: 600;
}
